@charset "UTF-8"; 
body{
    background-color: #fbf9cc;
}
h1{
    font-size: 1.75em;
}
h2{
    font-size: 1.25em;
}
p{
    font-size: 0.8em;
    background-color: #3399cc;
}
li{
    font-size: 0.8em;
}
address{ 
    font-size: 0.75em;
    font-style: italic;
    font-weight: 450em;
}
